/* overriding .nav-tabs to match twisent color */
.nav-tabs {
    border: 0;
}

.nav-tabs li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs li a, .nav-tabs li a:hover {
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover {
    border: 1px solid #999999;
    border-bottom-color: transparent;
}

.twisent-tab-shrinker {
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.twisent-form {
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
}

.twisent-results-container {
    /* background-color: #CCCCCC; */
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #999999;
}

.twisent-results {
    padding: 10px;
    margin-top: 10px;
    background-color: #DDDDDD;
    border-radius: 4px;
    border: 1px solid #999999;
}

.twisent-aggregate {
    padding: 10px;
    margin-top: 10px;
    background-color: #AAAAAA;
    border-radius: 4px;
    border: 1px solid #444444;
}
.twisent-aggregate table {
    background-color: #ffffff;
    border: 1px solid #000000;
    text-align: right;
}

.twisent-aggregate table td {
    border: 1px solid #000000;
    margin: 2px;
    padding: 2px;
}
.twisent-aggregate table th {
    border: 1px solid #000000;
    text-align: right;
    padding: 2px;
}
.twisent-sentiment-label {
    text-align: center;
    font-weight: bold;
}
.twisent-sentiment-positive {
    border: 1px solid #000000;
    background-color: #00d615;
}
.twisent-sentiment-negative {
    border: 1px solid #000000;
    background-color: #ff8787;
}
.twisent-sentiment-unknown {
    border: 1px solid #000000;
    background-color: #d4af37;
}
.twisent-label {
    font-weight: bold;
}

.twisent-preformatted-results {
    display: none;
}

.twisent-login-form {
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
}

.twisent-csv-individual {
    display: none;
}

.twisent-csv-button {
    text-align: right;
    padding: 10px;
}

#map-container {
    margin-top: 2px;
    height: 480px;
}
