<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hedge Court - TwiSent</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/theme/' + theme + '/bootstrap.css') }}" rel="stylesheet">

    <!-- Override bootstrap styles for this template -->
    <link href="{{ url_for('static', filename='bootstrap/css/jumbotron-narrow.css') }}" rel="stylesheet">

    <!-- Custom Twisent CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="{% if not display.pickle %}active{% endif %}"><a href="/">Home</a></li>
          <li class="{% if display.pickle %}active{% endif %}"><a href="{{ url_for('pickle') }}">Pickle</a></li>
          <li><a href="{{ url_for('login') }}">{% if username is not none %}({{ display.username }})</small>{% else %}Login{% endif %}</a></li>
          <!--
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
          -->

        </ul>
        <h3 class="text-muted">{{ config.DISPLAY_APP_NAME }}</h3>
      </div>
      {% if flask_debug %}
      <div class="alert alert-danger">
        Flask is in debug mode. This is not safe for production.
      </div>
      {% endif %}

      {% if display.ip_blocked is not none %}
      <div class="alert alert-danger">
        Your IP Address ({{ display.ip_blocked }}) is not on the whitelist.  You may look but not touch.
      </div>
      {% endif %}

      {% if display.username is none %}
      <div class="alert alert-danger">
        Twitter access requires authorization.  Unauthorized users may use text sentiment prediction only.
      </div>
      {% endif %}

      <div>
        <h1>Sentiment Analysis</h1>

        <div role="tabpanel">
          <div class="twisent-tab-shrinker">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{ 'active' if display.active_tab == 'twitter' }}">
              <a href="#twitter" ari-controls="twitter" role="tab" data-toggle="tab">Twitter</a>
            </li>
            <li role="presentation" class="{{ 'active' if display.active_tab == 'text' }}">
              <a href="#text" ari-controls="text" role="tab" data-toggle="tab">Text</a>
            </li>
          </ul>
          </div>

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade{{ ' in active' if display.active_tab == 'twitter' else '' }} twisent-form" id="twitter">
              <p class="lead">The following input types are accepted:</p>
              <ul>
                <li>@username</li>
                <li>#hashtag</li>
                <li>Twitter URL</li>
                <li>Status ID</li>
              </ul>

              <form action="{{ url_for('twitter') }}" method="post">
                <div class="form-field">
                  {{ display.twform.tw(size=50) }} {{ display.twform.throttle.label }} {{ display.twform.throttle(size=2) }} {% if display.username is not none %}{{ display.twform.submit }}{% endif %}
                  {% if display.twform.tw.errors %}
                    <ul class="errors">
                      {% for error in display.twform.tw.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% if display.twform.throttle.errors %}
                    <ul class="errors">
                      {% for error in display.twform.throttle.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                </div>
                {{ display.twform.csrf_token }}
              </form>

            </div>
            <div role="tabpanel" class="tab-pane fade{{ ' in active' if display.active_tab == 'text' else '' }} twisent-form" id="text">
              <p class="lead">Provide up to 280 characters:</p>

              <form action="{{ url_for('text') }}" method="post">
                <div class="form-field">
                  {{ display.txform.tx(cols="70", rows="4")|safe }}
                  {% if display.txform.tx.errors %}
                    <ul class="errors">
                      {% for error in display.txform.tx.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
                {% if display.ip_blocked is none %}<div class="form-field"><br/>{{ display.txform.submit }}</div>{% endif %}

                {{ display.txform.csrf_token }}
              </form>

            </div>
          </div>
        </div>



      </div>

{% if display.pickle or display.data|length > 0 %}
<br/>
<div role="tabpanel">
    <div class="twisent-tab-shrinker">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active' }}">
                <a href="#pretty" ari-controls="pretty" role="tab" data-toggle="tab">Pretty</a>
            </li>
            <li role="presentation">
                <a href="#csv" ari-controls="csv" role="tab" data-toggle="tab">CSV</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active twisent-form" id="pretty">




        {% if display.pickle %}
        <div class="twisent-results-container">
            <p class="lead">Details of Prediction Model</p>
<pre>{% for m in display.messages %}{{ m }}
{% endfor %}</pre>
        </div>
        {% endif %}

      {% if display.data|length > 0 %}
      <div class="twisent-results-container">
        <p class="lead">Analysis Results</p>


          {% if display.data|length > 1 %}
          <div class="twisent-aggregate">
          <p><b>Aggregate Statistics:</b></p>
          <table>
              <tr>
                  {% if display.get_proba_by_label() >= 0.5 %}
                  <td colspan="3" class="twisent-sentiment-label twisent-sentiment-positive">POSITIVE</td>
                  {% else %}
                  <td colspan="3" class="twisent-sentiment-label twisent-sentiment-negative">NEGATIVE</td>
                  {% endif %}
              </tr>
              <tr><th>Class</th><th>Count</th><th>Avg Proba</th></tr>
              <tr>
                  <td class="twisent-label">Total</td>
                  <td>{{ display.get_count_by_label() }}</td>
                  <td>{{ "%.05f"| format(display.get_proba_by_label()|float) }}</td>
              </tr>
              <tr>
                  <td class="twisent-label">Positive</td>
                  <td>{{ display.get_count_by_label(1) }}</td>
                  <td>{{ "%.05f"| format(display.get_proba_by_label(1)|float) }}</td>
              </tr>
              <tr>
                  <td class="twisent-label">Negative</td>
                  <td>{{ display.get_count_by_label(0) }}</td>
                  <td>{{ "%.05f"| format(1-display.get_proba_by_label(0)|float) }}</td>
              </tr>
          </table>
          </div>
          {% endif %}

        {% for d in display.data %}
        <div class="twisent-results">
          <table>
            <tr>
                <td class="twisent-label">Sentiment Prediction</td>
                {% if d.pred == 1 %}
                <td class="twisent-sentiment-positive">POSITIVE</td>
                {% else %}
                <td class="twisent-sentiment-negative">NEGATIVE</td>
                {% endif %}
            </tr>
            <tr><td class="twisent-label">Probability</td><td>{{ "%.05f"| format(d.proba|float) }}</td></tr>
          </table>
          <br />

          <b>Text:</b>
          <div>
            {{ d.text }}
          </div>
          <br />
          <b>Keyword Tokens:</b>
          <div>
            {{ d.get_spacy_text() }}
          </div>

          {% if d.tweet is not none %}
          <table>
            <tr><td class="twisent-label" colspan="2"><br />Twitter Details:</td></tr>
            <tr><td class="twisent-label">Time</td><td>{{ d.tweet.created_at }}</td></tr>
            <tr><td class="twisent-label">User</td><td>@{{ d.tweet.user.screen_name }} ({{ d.tweet.user.name }})</td></tr>
            <tr><td class="twisent-label">Hashtags</td><td>{% for hashtag in d.tweet.hashtags %}#{{ hashtag['text'] }} {% endfor %}</td></tr>
            <tr><td class="twisent-label">Favorites</td><td>{{ d.tweet.favorite_count }}</td></tr>
            <tr><td class="twisent-label">Retweets</td><td>{{ d.tweet.retweet_count }}</td></tr>
            <tr><td class="twisent-label">Status ID</td><td>{{ d.tweet.id }}</td></tr>
          </table>

          {% endif %}
            <div class="twisent-csv-individual">
                <B>CSV Data:</B>
<pre>{{ d.get_csv_string() }}</pre>
            </div>

        </div>

        {% endfor %}
      </div>
      {% endif %}


      {% if display.data|length > 0 %}
      <div class="twisent-preformatted-results">
      {% for d in display.data %}
      <div>
        <div>
          <h3>Analysis Results</h3>
        </div>
        <pre>{% if d.text is not none %}
Sentiment Prediction : {{ "POSITIVE" if d.pred == 1 else "NEGATIVE" }}
Probability          : {{ "%.5f"| format(d.proba|float) }}

Text...
{{ d.text }}
{% if d.tweet is not none %}
Timestamp      : {{ d.tweet.created_at }}
Handle         : @{{ d.tweet.user.screen_name }} ({{ d.tweet.user.name }})
Status ID      : {{ d.tweet.id }}
Hashtags       : {% for hashtag in d.tweet.hashtags %}#{{ hashtag['text'] }} {% endfor %}
Favorite Count : {{ d.tweet.favorite_count }}
Retweet Count  : {{ d.tweet.retweet_count }}
{% endif %}{% endif %}{% if d.messages|length > 0 %}
Messages ({{ d.messages|length }}):
{% for m in d.messages %}{{ m }}
{% endfor %}{% endif %}</pre>
      </div>
      {% endfor %}
      </div>
      {% endif %}

        </div>
        <div role="tabpanel" class="tab-pane fade twisent-form" id="csv">
            <div class="twisent-csv-button">
                <button id="csv-copy">Copy to Clipboard</button>
            </div>
<pre id="csv-container">{{ display.get_csv_string() }}</pre>
        </div>
    </div>
</div>
{% endif %}


      <div class="footer">
        <p>&copy; Hedge Court 2020</p>
      </div>

    </div> <!-- /container -->

    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $("#csv-copy").click(function() {
        copyToClipboard("#csv-container");
    });

    function copyToClipboard(element) {
        /*
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        */
        element = $('<textarea>').appendTo('body').val($(element).text()).select()
        document.execCommand('copy')
        element.remove()
    }
})
    </script>
  </body>
</html>