<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hedge Court - TwiSent Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/theme/' + theme + '/bootstrap.css') }}" rel="stylesheet">

    <!-- Override bootstrap styles for this template -->
    <link href="{{ url_for('static', filename='bootstrap/css/jumbotron-narrow.css') }}" rel="stylesheet">

    <!-- Custom Twisent CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">TwiSent</a></li>
          <li><a href="https://www.hedgecourt.com/portfolio/twisent/">Portfolio</a></li>
            {% if config.SHOW_PICKLE %}
          <li><a href="{{ url_for('pickle') }}">Pickle</a></li>
            {% endif %}
          <li class="active"><a href="{{ url_for('login') }}">{% if username is not none %}({{ username }})</small>{% else %}Login{% endif %}</a></li>
          <!--
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
          -->

        </ul>
          <img src="{{ url_for('static', filename='images/hc-logo-2020-web-twisent.png') }}" alt="{{ config.DISPLAY_APP_NAME }}" border="0" />
          <!--
            <h3 class="text-muted">{{ config.DISPLAY_APP_NAME }}</h3>
          -->
      </div>
      {% if flask_debug %}
      <div class="alert alert-danger">
        Flask is in debug mode. This is not safe for production.
      </div>
      {% endif %}

        {% if msg is not none %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
        {% endif %}

      <div class="twisent-login-form">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-field">
                {{ form.username.label }}
                {{ form.username(size=30) }}
                {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="form-field">
                {{ form.password.label }}
                {{ form.password(size=30) }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {{ form.submit }}
          {{ form.csrf_token }}
        </form>
      </div>


      <div class="footer">
        <p>&copy; Hedge Court 2020</p>
      </div>

    </div> <!-- /container -->

    <script src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 409:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })
    </script>
  </body>
</html>